<ul class="comments__list">
  {% for comment in comments %}
    <li class="comments__list__item">
      <small class="comments__list__item__date">
        {{ comment.created_at }}
      </small>
      <small class="comments__list__item__author">{{ comment.author }}</small>
      {% if comment.has_descendants %}
        <a class="comments__list__item__arrow" href="#"></a>
      {% endif %}
      <p class="comments__list__item__body">{{ comment.body|linebreaks }}</p>
      {% if comment.descendants %}
        {% include 'comments/_list.html' with comments=comment.get_children %}
      {% endif %}
    </li>
  {% endfor %}
</ul>