{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a
            href="?page={{ page_obj.previous_page_number }}"
            class="page-link"
        >Previous</a>
      </li>
    {% endif %}
    <li class="page-item disabled">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </li>
    {% if page_obj.has_next %}
      <li class="page-item">
        <a
            href="?page={{ page_obj.next_page_number }}"
            class="page-link"
        >Next</a>
      </li>
    {% endif %}
  </ul>
{% endif %}