<div class="posts">
  {% for item in data %}
    <div class="posts__item">
      <small class="posts__item__created_at">{{ item.created_at }}</small>
      <a class="posts__item__title" href="{{ item.get_absolute_url }}">
        {{ item.title }}
      </a>
      <p class="posts__item__brief">{{ item.brief }}</p>
    </div>
  {% empty %}
    <div class="posts__nodata">No data</div>
  {% endfor %}
</div>