<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block meta_title %}{% endblock %}</title>
</head>
<body>
  {% include 'includes/_header.html' %}
  <div class="container" role="main">
    <h1 class="container__title">{% block page_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
</body>
</html>