{% extends 'base.html' %}
{% block meta_title %}{{ object.title }}{% endblock %}
{% block page_title %}{{ object.title }}{% endblock %}
{% block content %}
  <small>{{ object.created_at }}</small>
  <div class="container__text">{{ object.body|linebreaks }}</div>
  <div class="comments">
    {% include 'comments/_list.html' %}
    {% include 'includes/_pagination.html' %}
  </div>
{% endblock %}