{% extends 'base.html' %}
{% block meta_title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
  <h2 class="container__subtitle">Blogs</h2>
  {% include 'posts/includes/_list.html' with objects=blogs %}
  <h2 class="container__subtitle">Articles</h2>
  {% include 'posts/includes/_list.html' with objects=articles %}
{% endblock %}